:root {
  --bg-color: #031321;
  --primary-color: #2196f3;
  --secondary-color: #255784;
  --budget-color: #13dabe;
  --car-color: #51d5ea;
  --premier-color: #bb96f7;
  --caricon-color:#369ca4;
}

.btn {
  position: relative;
  padding: 15px 35px 15px 43px;
  color: var(--primary-color);
  overflow: hidden;
  transition: 0.2s;
  text-align: center;
}
.logo-home {
  background: var(--primary-color);
  box-shadow: 0 0 20px var(--primary-color), 0 0 80px var(--primary-color),
    0 0 160px var(--primary-color), 0 0 320px var(--primary-color);
  transition-delay: 1s;
}
.homeGridItem {
  background: var(--primary-color);
  box-shadow: 0 0 20px var(--primary-color), 0 0 80px var(--primary-color),
    0 0 160px var(--primary-color), 0 0 320px var(--primary-color);
  transition-delay: 1s;
}
.homeBudget {
  background: var(--budget-color);
  box-shadow: 0 0 5px var(--budget-color), 0 0 23px var(--budget-color),
    0 0 100px var(--budget-color), 0 0 50px var(--budget-color);
}
.homeCar {
  background: var(--car-color);
  box-shadow: 0 0 2px var(--car-color), 0 0 2px var(--car-color),
    0 0 5px var(--car-color), 0 0 25px var(--car-color);
}
/* .homeCar {
  background: var(--car-color);
  box-shadow: 0 0 5px var(--car-color), 0 0 23px var(--car-color),
    0 0 100px var(--car-color), 0 0 50px var(--car-color);
} */
.homePremier {
  background: var(--premier-color);
  box-shadow: 0 0 5px var(--premier-color), 0 0 23px var(--premier-color),
    0 0 100px var(--premier-color), 0 0 50px var(--premier-color);
}
.btn:hover {
  color: var(--secondary-color);
  background: var(--primary-color);
  box-shadow: 0 0 20px var(--primary-color), 0 0 80px var(--primary-color),
    0 0 160px var(--primary-color), 0 0 320px var(--primary-color);
  transition-delay: 1s;
}

.btn span {
  position: absolute;
  display: block;
}

.btn span:nth-child(1) {
  top: 0;
  transform: translateX(-115%);
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, transparent, var(--primary-color));
}
.btn:hover span:nth-child(1) {
  transform: translateX(100%);
  transition: 1s;
}
.btn span:nth-child(3) {
  bottom: 0;
  transform: translateX(100%);
  width: 100%;
  height: 4px;
  background: linear-gradient(270deg, transparent, var(--primary-color));
}
.btn:hover span:nth-child(3) {
  transform: translateX(-115%);
  transition: 1s 0.5s;
}

.btn span:nth-child(2) {
  right: 0;
  transform: translateY(-130%);
  width: 4px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--primary-color));
}
.btn:hover span:nth-child(2) {
  transform: translateX(100%);
  transition: 1s 0.25s;
}

.btn span:nth-child(4) {
  left: 0;
  transform: translateY(100%);
  width: 4px;
  height: 100%;
  background: linear-gradient(3600deg, transparent, var(--primary-color));
}
.btn:hover span:nth-child(4) {
  transform: translateX(-130%);
  transition: 1s 0.75s;
}
